.custom-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    width: 35%;
    margin-top: 4%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background: rgb(243, 245, 199);
    background: radial-gradient(circle, rgba(243, 245, 199, 1) 11%, rgba(227, 227, 199, 1) 83%);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    border: solid;
    box-shadow: inset 0 0 4px 2px;
    padding: 5em;
    background: rgb(5, 72, 112);
    background: linear-gradient(90deg, rgba(5, 72, 112, 1) 0%, rgba(72, 124, 145, 1) 79%);
}

.right h1 {
    text-align: center;
}

.right h1,
.right h2,
.right p,
.li-elt {
    color: white;

}

.left,
.right {
    border-radius: 0 12%;
}

.pattern-1 {
    display: flex;
    width: 100%;
    height: 100vh;
}

.image {
    position: absolute;
    width: 13em;
    top: 4%;
    left: 30%;
}

.image img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
}

.cv-title {
    margin-top: 1.3em;
    font-size: 2em;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
