/*
***********************************
MEDIA QUERIES
***********************************
*/
.custom-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  width: 35%;
  margin-top: 4%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  background: #f3f5c7;
  background: radial-gradient(circle, #f3f5c7 11%, #e3e3c7 83%);
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
  border: solid;
  -webkit-box-shadow: inset 0 0 4px 2px;
          box-shadow: inset 0 0 4px 2px;
  padding: 5em;
  background: #054870;
  background: -webkit-gradient(linear, left top, right top, from(#054870), color-stop(79%, #487c91));
  background: linear-gradient(90deg, #054870 0%, #487c91 79%);
}

.right h1 {
  text-align: center;
}

.right h1,
.right h2,
.right p,
.li-elt {
  color: white;
}

.left,
.right {
  border-radius: 0 12%;
}

.pattern-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.image {
  position: absolute;
  width: 13em;
  top: 4%;
  left: 30%;
}

.image img {
  width: 134px;
  height: 134px;
  border-radius: 50%;
}

.cv-title {
  margin-top: 1.3em;
  font-size: 2em;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --body-bg: radial-gradient(circle, rgba(243,245,199,1) 11%, rgba(227,227,199,1) 83%);
  --paper-btn-primary: #4b3b18;
  --paper-btn-primary-hover: #776c5313;
  --transparent: rgba(255, 255, 255, 0);
  --margin-line: #941c5a;
  --lines: #1d97b8;
  --bg-color: #e5e6c4;
  --font-color: #4a4a4a;
  --hover-color: #188dff;
}

body {
  height: 100vh;
  background: var(--body-bg);
}

ul li {
  list-style-type: none;
}

.hr-white {
  border: 0;
  height: 1px;
  width: 400px;
  background: #fffefe;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(white), to(#ccc));
  background-image: linear-gradient(to right, #ccc, white, #ccc);
}

.menu-button {
  position: absolute;
  top: 1%;
  left: 1%;
}

.menu-settings {
  position: absolute;
  top: 1%;
  left: 6%;
}

.trash {
  position: absolute;
  top: 1%;
  left: 10%;
}
/*# sourceMappingURL=style.css.map */