<a class="btn btn-primary menu-button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">
    |||
</a>
<a href="{{ path('cv-update', {'id':cv.id}) }}">
    <i class="fas fa-cog menu-settings fa-2x">
    </i>
</a>
<a href="{{ path('cv-delete', {'id':cv.id}) }}">
    <i class="fas fa-trash fa-2x trash" onclick="return confirm('Supprimer ce CV ?')">
    </i>
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <a href="{{ path('cv-list') }}">Mes CVs</a>
        </div>
        <div>
            <a href="{{ path('cv-create') }}">Créer un CV</a>
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>